@font-face {
    font-family: "Sofia Pro";
    font-weight: normal;
    src: url("fonts/Sofia Pro Regular.otf");
}

html,
body {
    margin: 0;
}

#Ultra {
    font-family: "Sofia Pro";
    .flex-container-fluid {
        max-width: 1920px;
        margin: 0 auto;
        background: #e1e1e1;
    }
    .flex-container {
        max-width: 1180px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .flex-row {
            display: flex;
            .flex-col {
                flex: 1;
            }
        }
        .justify-end {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .align-center{
            align-items: center !important;
        }
    }
    h1
    {
        font-size:2.2em;
        text-transform: uppercase;
    }
    p{
        font-size: 1em;
    }
    mark {
        background-color: #ebebeb;
        box-sizing: border-box;
        padding: 0 15px;
    }
    img {
        display: block;
        width: 100%;
        height: auto;
    }
    button {
        background: #00bacd;
        color: #fff;
        border: none;
        padding: 15px 30px;
        text-transform: uppercase;
        font-weight: 700;
    }
    .content {
        margin-bottom: 4rem;
        margin-left:1rem;
    }
    .white-text{
        color:#fff;
        text-shadow:0 0 100px #aaa;
        -webkit-font-smoothing: antialiased;
        font-size: 4em;
      position: relative;
      left: -50px;
    }
    .last-col{
        transform: translateY(0px)
        
    }
    .max-height-fluid{
        max-height: 450px;
    }
    a{
        cursor: pointer;
    }
}

@media only screen and (min-width:1px) and (max-width:1080px){
#Ultra{
    .flex-row{
        flex-direction: column;
    }
    .white-text{
        left:0;
        font-size: 15vw;
    }
    h1{
        font-size: 8vw;
        text-align: center;
        background: #ebebeb;
    }
    .content{
        margin-left:0;
        text-align: center;
        p{
            font-size: 4vw;
            text-align: left;
            padding: 0 15px;
        }
    }
    
    button{
        font-size: 3vw;
    }
    .last-col{
        transform: translateY(-120px);
        img{
            padding:15px;
            box-sizing: border-box;
        }
    }
    .max-height-fluid{
        max-height: 110vw;
    }
}
}